@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
    justify-content: center;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    margin-top: 50px;
}
.footer>h1{
    color: white;
    text-align: center;
    max-width: 300px;
    border-bottom: 3px solid white;
    margin-inline: auto;
    margin-bottom: 30px;
}
.footer-col{
    width: 100%;
    max-width: 500px;
   padding: 0 15px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 30px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.social-links{
    display: flex;
    flex-wrap: wrap;
}
.footer-col .social-links a{
	display: block;
	height: 80px;
	width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.social-links i{
    font-size: 50px;
}
